<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @link.subject %>
</p>

<p>
  <strong>Post:</strong>
  <%= @link.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.username %>
</p>

<div class="edit-back">
<div id='edit'><%= link_to 'Edit', edit_link_path(@link) %></div> |
<div id='back'><%= link_to 'Back', links_path %></div>
</div>
