<p id="notice"><%= notice %></p>

<p>
  <strong>Vote count:</strong>
  <%= @vote.vote_count %>
</p>

<p>
  <strong>Link:</strong>
  <%= @vote.link %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
